<div class='menu-head'>
  <img class='menu-head-logo' src='images/duxLogo.svg' />
</div>

<div class='container-fluid' ng-show='!currentUser'>
  <div class='row'>

    <div class='col-xs-12'>
      <div class='menu-btns-container'>
        <button class='btn btn-block btn-success btn-lg' >Join Us</button>
        <button class='btn btn-block btn-default btn-lg' >Sign In</button>
      </div>
      <p class='lead menu-text'>Sign In to connect with other gamers and access personalized features.</p>

      <a ng-href='#/leaderboard'><i class='fa fa-globe'></i><span>LeaderBoard</span></a>
      <a ng-href='#/signup'><i class='fa fa-bell'></i><span>Become a challenger</span></a>
      <a ng-href='#/login'><i class='fa fa-gamepad'></i><span>Challenger entrance</span></a>
    </div>

  </div>
</div>

<div class='menu-list' ng-show='currentUser'>

  <a class='menu-avatar-container' ng-href='/profile'>
    <div class='avatar-md'>
      <img ng-src='{{currentUser.icon}}'>
    </div>
    <div class='menu-username' >{{currentUser.local.pseudo}}, Lvl. {{currentUser.level}}</div>
  </a>
  <span class='menu-mini-toolbar'>
    <a ng-href='#/friends'><span>Friends</span></a>
    <a ng-href='#/settings'><span class='fa fa fa-cogs'></span> Settings</a>
  </span>
  <a ng-href='#/request'><i class='fa fa-pencil'></i><span>Rate challenges</span>
    <span class='badge alert-info' ng-show='currentUser.pendingRequests'>{{currentUser.pendingRequests.length}}</span>
  </a>
  <a ng-href='#/leaderboard'><i class='fa fa-globe'></i><span>LeaderBoard</span></a>
  <a ng-href='#/users'><i class='fa fa-globe'></i><span>User List</span></a>
  <a ng-href='#/launchChallenge'><i class='fa fa-crosshairs '></i><span>Launch</span></a>
  <a ng-href='#/challenges'><i class='fa fa-book '></i><span>All challenges</span></a>
  <a ng-href='#/ongoing'><i class='fa fa-gamepad'></i><span>My challenges</span></a>
  <a ng-href='#/myChallenges'><i class='fa fa-gamepad'></i><span>Challenges created</span></a>
  <a ng-href='#/rateChallenges'><i class='fa fa-pencil'></i><span>Rate challenges</span>
    <span class='badge alert-info' ng-show='currentUser.challengeRate'>{{currentUser.challengeRate.length}}</span>
  </a>
  <a ng-href='#/tribunal'><i class='fa fa-gavel'></i><span>tribunal</span>
    <span class='badge alert-info' ng-show='currentUser.tribunal'>{{currentUser.tribunal.length}}</span>
  </a>
</div>