<div class="modal-header">
  <h4>Success! <br/><small>You will soon be a challenger</small></h4>
</div>
<!-- Blocking touchend due to angular-touch issue https://github.com/angular/angular.js/issues/6432 stop-event="touchend" -->
<div class="modal-body" >
  <h4>One last step</h4>
  <p>
    To ensure the quality of our service we have sent you an email. Please check you <strong>email box</strong> to confirm your email adress. 
  </p>
  <p>
    Be sure to check your <strong>spam folder</strong> if nothing appear.
  </p>
</div>

<div class="modal-footer">
  <button class="btn btn-default btn-default-border" ng-click="cancel()"><i class="fa fa-times"></i> Got it</button>
</div>