<div class="modal-header">
  <h4>Welcome to Challenge your Friends <br/><small>A place to find back your joy as a gamer!</small></h4>
</div>
<!-- Blocking touchend due to angular-touch issue https://github.com/angular/angular.js/issues/6432 stop-event="touchend" -->
<div class="modal-body" >
  <br>
  <form name="form.login" novalidate ng-submit="login()">
    <input class="form-control" type="email" name="email" ng-model="form.login.email" placeholder="Email Address" required /><br/>
    <input class="form-control" type="password" name="pass" ng-model="form.login.pass" ng-minlength="3" placeholder="Password" required />
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-default btn-default-border" ng-click="cancel()"><i class="fa fa-times"></i> Cancel</button>
  <button class="btn btn-success-alt" ng-click="login()"><i class="fa fa-check"></i> Login</button>
</div>

<spinner ng-show="state.progress"></spinner>