<div id="page-title">{{pageTitle}}</div>

<div class="col-sm-4 col-xs-4 col-lg-3 col-md-3 repeated-item" ng-repeat="friend in currentUser.friends">
  <div class="thumbnail">
    <img class="img-rounded" ng-src="{{friend.idUser.icon}}">
    <div class="caption text-center">
      <h3>{{friend.idUser.local.pseudo}}</h3>
      <p>
        Level: <strong>{{friend.idUser.level}}</strong>
      </p>
      <p>
        <a ng-href="#/users/{{friend.idUser.idCool}}" class="btn btn-block btn-primary">Profile</a>
        <a ng-href="#/launchChallenge" class="btn btn-block btn-danger">Challenge</a>
      </p>
    </div>
  </div>
</div>
<div class="col-sm-4 col-xs-4 col-lg-3 col-md-3 new-friend-card">
  <div class="thumbnail">
    <div class="caption text-center">
      <h1><a ng-href="#/users"><i class="fa fa-plus-square fa-3"></i></a></h1>
    </div>
  </div>
</div>