<div id="page-title">{{pageTitle}}</div>

<div class="row">
  <div class="col-sm-4 col-xs-6 col-md-3 col-lg-3">
    <a ng-href="#/leaderboard" class="{{type=='global' && 'btn btn-primary btn-block' || 'btn btn-default btn-block' }}">General ladder</a>
  </div>
  <div class="col-sm-4 col-xs-6 col-md-3 col-lg-3">
    <a ng-href="#/leaderboard/daily" class="{{type=='daily' && 'btn btn-primary btn-block' || 'btn btn-default btn-block' }}">Daily ladder</a>
  </div>
  <div class="col-sm-4 col-xs-6 col-md-3 col-lg-3">
    <a ng-href="#/leaderboard/weekly" class="{{type=='weekly' && 'btn btn-primary btn-block' || 'btn btn-default btn-block' }}">Weekly ladder</a>
  </div>
  <div class="col-sm-4 col-xs-6 col-md-3 col-lg-3">
    <a ng-href="#/leaderboard/monthly" class="{{type=='monthly' && 'btn btn-primary btn-block' || 'btn btn-default btn-block' }}">Monthly ladder</a>
  </div>
</div>
<table ng-table="tableParams" class="table">
  <tr ng-repeat="user in $data" class="text-center repeated-li">
    <td data-title="'Rank'">{{$index+1}}</td>
    <td data-title="'Pseudo'" class="text-left">
      <img ng-src="{{user.icon}}" class="img-rounded mini-icon">
      <a ng-href="#/users/{{user.idCool}}" ng-switch on="type">{{user.local.pseudo}}</a>
    </td>
    <td data-title="'Level'">{{user.level}}</td>
    <td data-title="'Score'">
      <span ng-switch on="type">
        <span ng-switch-when="monthly">{{user.monthlyScore}}</span>
        <span ng-switch-when="weekly">{{user.weeklyScore}}</span>
        <span ng-switch-when="daily">{{user.dailyScore}}</span>
        <span ng-switch-default>{{user.globalScore}}</span>
      </span>
    </td>
  </tr>
</table>