<div id="page-title">{{pageTitle}}</div>

<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="" scroll-to="caf1">AnyGame</a></li>
    <li><a href="" scroll-to="caf2">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">cyf_mobile</h3>
</div>


    <section id="caf1" class="transi-slide">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">
          <h1>Challenge your friends: on any game</h1>
          <p>
            Challenge your Friends (Cyf) allows you to launch challenges to any of your friends in the community. <u>Whatch them succeed...or fall!</u>
            </p>
            <p>Find a <u>new way to enjoy gaming on</u> your favorites games immediately and <u>for free</u>!<br>
             <u>Discover</u> new competitive games through new challenges, explore new opportunties to become a <u>true challenger</u>.
          </p>
          <p><a href="./discover#slide-3" >Read more</a></p>
          </div>
        </div>
      </div>
    </section>
  
    <section id="caf2" class="w-slide opening">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-12 text-center">
            <h1>Launch and receive challenges</h1>
            <h3>Cyf makes challenging people over many games a breeze.</h3>
          </div>
        </div><!-- /row -->
        
        <div class="row text-center">
          <div class="col-lg-4">
            <img src="http://placehold.it/700x700" alt="" class="img-responsive">
            <h3>1 - Make some Friends</h3>
            <p>Find people on <u>Cyf</u> who play the same games as you, or invite your facebook/twitter's friends to join you.</p>
            <p><u>Cyf</u> is fun when you have many friends, so we encourage you sending friend requests!</p>
            <p><a href="./discover#slide-3" >Read more</a></p>
          </div><!--/col-lg-4 -->

          <div class="col-lg-4">
            <img src="http://placehold.it/700x700" alt="" class="img-responsive">

            <h3>2 - Launch or Receive Challenges</h3>
            <p>For any challenge thrown at you, you'll receive a mail and a notification on <u>Cyf</u>. You can either accept or deny any invitation. Careful: can you handle many challenges at a time?</p>
            <p>Launching a challenge is really <u>easy</u>: select a challenge, pick a friend and choose when do it have to start...That's it!</p>
            <p><a href="./discover#slide-3" >Read more</a></p>
          </div><!--/col-lg-4 -->

          <div class="col-lg-4">
                      <img src="http://placehold.it/700x700" alt="" class="img-responsive">
            <h3>3 - Validate</h3>
            <p>When you complete a challenge, take a <u>screenshot</u> as a proof and just come back to send the validation request, done!</p>
            <p>Once a challenger has completed a challenge, he will send a validation request and you will have to review if he/she did successfuly passed your challenge.</p>
            <p><a href="./discover#slide-3" >Read more</a></p>
          </div><!--/col-lg-4 -->
        </div><!-- /row -->
      </div><!-- /container -->
    </section>
  
    <section class="w-slide closure">
      <div class="container">
        <hr>
        <div class="row centered">
          <div class="col-lg-12 text-center">
            <a href="./signup" class="btn btn-warning btn-lg btn-block youSeeMeRollin"><span class="animated">BECOME A CHALLENGER NOW</span></a>  
            <a href="./discover#slide-3" >Read more</a>
          </div>
          <div class="col-lg-3"></div>
        </div><!-- /row -->
        <hr>
      </div><!-- /container -->
    </section>
    <section class="transi-slide opening">
     <div class="container">
          <div class="row text-center">
            <div class="col-lg-12 text-center">
              <h1>Cyf is for everyone</h1>
              <h3>Enjoy daily challenges reglardless of where you play, on what you play and so on!</h3>
            </div>
          </div><!-- /row -->
          
          <div class="row text-center">

            <div class="col-lg-6">

            <img src="http://placehold.it/700x700" alt="" class="img-responsive">
              <h3>Any "skill"</h3>
              <h5>Enjoy cyf regardless to your skills level.</h5>
              <p>Are you a competitive player? Yes? So <strong>you will enjoy</strong> the hardest challenges.
              </p>
              <p>More into peaceful gaming? <strong>You will enjoy</strong> challenges with easy or calm requirements.</p>
              <p>Best news is you can select the challenges you accept thus you don't have to be the best at any game to <strong>enjoy Cyf</strong></p>
              <p><a href="./discover#slide-3" >Read more</a></p>
            </div><!--/col-lg-6 -->
            <div class="col-lg-6">

            <img src="http://placehold.it/700x700" alt="" class="img-responsive">
              <h3>Casual or HCG</h3>
              <h5>Play together, with different aims.</h5>
              <p>Cyf strives to offer to anyone the same experience, we want you to have <strong>fun</strong>.</p>
              <p>Accept challenges on a daily basis, many at the same time or one by one: <strong>it's up to you</strong>!</p>
              <p>To do that, we offer you <strong>many awesome features</strong> to <strong>play the way you want</strong>: levels, experience, rankings (daily, weekly, monthly and overall), achievements <small>(comming soon)</small> and trohpee to unlock<small>(comming soon)</small>!</p>
              <p><a href="./discover#slide-3" >Read more</a></p>
            </div><!--/col-lg-6 -->

            <div class="col-lg-6">

            <img src="http://placehold.it/700x700" alt="" class="img-responsive">
              <h3>Any game</h3>
              <h5>As long as it's an existing game.</h5>
              <p>The only requirement for a game is that one should be able to launch and receive challenges on it.</p>
              <p>Want to create a challenge on Pokemon? On Super Mario Bros? On League of Legend? On Warcraft? Well, it's just totally possible!</p>
              <p><a href="./discover#slide-3" >Read more</a></p>
            </div><!--/col-lg-6 -->
            <div class="col-lg-6">

            <img src="http://placehold.it/700x700" alt="" class="img-responsive">
              <h3>Any plateform</h3>
              <h5>Enjoy Cyf where you like to play.</h5>
              <p>Works well for Pc, Mac, Console, Portable console, mobile devices and space-shuttle command' screen.</p>
              <p>Just keep in mind that you will need a proof to validate your challenge, but whichever means to take a screenshot is fine!</p>
              <p><a href="./discover#slide-3" >Read more</a></p>
            </div><!--/col-lg-6 -->
          </div><!-- /row -->
        </div><!-- /container -->
    </section>
  
    <section class="transi-slide">
      <div class="container">
        <hr>
        <div class="row centered">
          <div class="col-lg-12 text-center">
            <a href="./signup" class="btn btn-success btn-lg btn-block youSeeMeRollin"><span class="animated">BECOME A CHALLENGER NOW</span></a>  
            <a href="./discover#slide-3" >Read more</a>
          </div>
          <div class="col-lg-3"></div>
        </div><!-- /row -->
        <hr>
      </div><!-- /container -->
    </section>